sandbox/
*~
.directory
.Trash-*
*.iml
.idea/
.bloop/
.metals/
.vscode/
*.ipr
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
*.class
*.log
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
metals.sbt
.scala_dependencies
.worksheet
*.actual
secrets.yml

repos.tar.gz*

.classpath
.settings
.cache*
.project
.cross

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*

community-projects/
