name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  testOther:
    name: ${{ matrix.command }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        command:
          - "++2.13.17; download-scala-library; testsSemanticdb/test"
          - "communitytest/test"
          - "mima"
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up JVM
        uses: actions/setup-java@v5
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - run: sbt '${{ matrix.command }}'
  testLatestScala:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scala:
          - '2.12.20'
          - '2.13.17'
          - '3.3.6'
          - '3.7.3'
        java:
          - '8'
          - '17'
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up JVM
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - name: Test Parser on ${{ matrix.scala }} using JVM
        run: sbt ++${{ matrix.scala }} testsJVM/test
      - name: Test Parser on ${{ matrix.scala }} using JS
        run: sbt ++${{ matrix.scala }} testsJS/test
      - name: Test Parser on ${{ matrix.scala }} using Native
        run: sbt ++${{ matrix.scala }} testsNative/test
      - name: Test Semanticdb on ${{ matrix.scala }}
        if: ${{ !startsWith(matrix.scala, '3.') }}
        run: sbt ++${{ matrix.scala }} testsSemanticdb/test
  testOlderScalaOnJVM:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scala:
          - '2.11.12'
          - '2.12.16'
          - '2.12.17'
          - '2.12.18'
          - '2.13.14'
          - '2.13.15'
          - '2.13.16'
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up JVM
        uses: actions/setup-java@v5
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - name: Test Parser on ${{ matrix.scala }} using JVM
        run: sbt '++${{ matrix.scala }}!; testsJVM/test'
      - name: Test Semanticdb on ${{ matrix.scala }}
        run: sbt ++${{ matrix.scala }} testsSemanticdb/test
  windows:
    name: Windows tests
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: olafurpg/setup-scala@v14
      - name: Test Parser on Windows using JVM
        run: sbtx testsJVM/test
        shell: bash
      - name: Test Parser on Windows using JS
        run: sbtx testsJS/test
        shell: bash
      - name: Test Semanticdb on Windows
        run: sbtx testsSemanticdb/test
        shell: bash
  checks:
    name: Scalafmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JVM
        uses: actions/setup-java@v5
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: 'sbt'
      - run: ./bin/scalafmt --test
