name: Release
on:
  push:
    branches: [main]
    tags: ["*"]
jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
          - 'JVM'
          - 'JS'
          - 'Native'
        isSematicdbReleased:
          - ${{ contains(github.ref, 'semanticdb') }}
        exclude:
          - isSematicdbReleased: true
            platform: 'JS'
          - isSematicdbReleased: true
            platform: 'Native'
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: olafurpg/setup-scala@v14
      - name: Set up JVM
        uses: actions/setup-java@v5
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - name: Publish to Sonatype
        run: sbt ci-release
        env:
          SCALAMETA_PLATFORM: ${{ matrix.platform }}
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          GITHUB_DEPLOY_KEY: ${{ secrets.GITHUB_DEPLOY_KEY }}
          GOOGLE_APPLICATION_CREDENTIALS:
            ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
          GOOGLE_APPLICATION_CREDENTIALS_JSON:
            ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_JSON }}
