name: Release semanticdb

on:
  workflow_dispatch:
    inputs:
      commit:
        description: "Github commit (version will be taken from previous tag)"
        required: true
      scala:
        description: "Scala version (e.g., 2.13.16)"
        required: false

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out ref ${{ github.event.inputs.commit }}
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.commit }}
      - uses: olafurpg/setup-scala@v14
      - name: Set up JVM
        uses: actions/setup-java@v5
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - name: Publish ${{ github.event.inputs.project }} to Sonatype
        run: sbt -Dbackport.release=1 "ci-release"
        env:
          CI_COMMIT_TAG: ${{ github.event.inputs.commit }} // ci-release uses this to detect non-snapshot releases
          CI_RELEASE: ${{ github.event.inputs.scala != '' && format('++{0} ', github.event.inputs.scala) || '+' }}!; semanticdbScalacCore/publishSigned; semanticdbScalacPlugin/publishSigned; semanticdbMetac/publishSigned; semanticdbMetap/publishSigned
          SCALAMETA_PLATFORM: ${{ github.event.inputs.platform }}
          GIT_USER: scalameta@scalameta.org
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          GITHUB_DEPLOY_KEY: ${{ secrets.GITHUB_DEPLOY_KEY }}
          GOOGLE_APPLICATION_CREDENTIALS:
            ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
          GOOGLE_APPLICATION_CREDENTIALS_JSON:
            ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_JSON }}
