name: Release
on:
  push:
    branches: [main]
    tags: ["*"]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: olafurpg/setup-scala@v13
      - uses: olafurpg/setup-gpg@v3
      - run: git fetch --unshallow
      - name: Publish
        run: |
          COMMAND="ci-release"
          UPDATE_DOCS=true
          if [[ $GITHUB_REF == "refs/tags"* ]] && [[ $GITHUB_REF_NAME == "semanticdb_v"* ]]; then
            VERSION=$(echo $GITHUB_REF_NAME | cut -d "_" -f2 | cut -c2-)
            SCALA_VERSION=$(echo $GITHUB_REF_NAME | cut -d "_" -f3)
            if [ ! -z $VERSION ] && [ ! -z $SCALA_VERSION ]; then
              export CI_RELEASE="++$SCALA_VERSION! semanticdbScalacCore/publishSigned; ++$SCALA_VERSION! semanticdbScalacPlugin/publishSigned; ++$SCALA_VERSION! metac/publishSigned"
              UPDATE_DOCS=false
              COMMAND="; set ThisBuild/version :=\"$VERSION\"; $COMMAND"
            else
              echo 'Invalid tag name. Expected: semanticdb_v${existing-release}_${scala-version}'
              exit 1
            fi
          else
            export CI_RELEASE="release"
          fi
          sbt "$COMMAND"
          if [ "$UPDATE_DOCS" = true ]; then
            sbt docs/docusaurusPublishGhpages
          fi
        env:
          GIT_USER: scalameta@scalameta.org
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          GITHUB_DEPLOY_KEY: ${{ secrets.GITHUB_DEPLOY_KEY }}
          GOOGLE_APPLICATION_CREDENTIALS:
            ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
          GOOGLE_APPLICATION_CREDENTIALS_JSON:
            ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_JSON }}
